<!-- views/vegetables/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheet/styles.css" />
  <title>Vegetables Index</title>
</head>

<body>
  <h1>All Vegetables</h1>
  <nav>
    <ul>
      <li><a href="/vegetables">Browse Vegetables</a></li>
      <!-- <li><a href="/vegetables/new">Add New Vegetable</a></li></ul></nav> -->
      <a class="add-vegetable" href="/vegetables/new">Add vegetable</a>

      <ul>
        <% vegetables.forEach(vegetable => { %>
          </li>
          <a href="/vegetables/<%= vegetable._id %>">
            <%= vegetable.name %>
          </a>
          </li>

          <% }); %>
      </ul>

</body>
<footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>

</html>
